<!-- Nav Bar -->

<nav class="site-header navbar navbar-expand-lg py-2 shadow-sm">
      <a class="link nav-item hover-effect navbar-brand" href="/"><img class="logo" src="images/logo.png"></a>
      <a class="link nav-item hover-effect" href="/">Homepage</a>
      <a class="link nav-item hover-effect" href="/about-me">About Me</a>
      <a class="link nav-item hover-effect" href="/projects">Projects</a>
      <a class="link nav-item hover-effect" href="/services">Services</a>
      <a class="link nav-item hover-effect" href="/contact-me">Contact Me</a>
    </div>
</nav>