<!-- Nav Bar -->

<nav class="site-header navbar navbar-expand-lg fixed-top py-2 shadow-sm">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="link hover-effect d-none d-md-inline-block" href="#header">Homepage</a>
      <a class="link hover-effect d-none d-md-inline-block" href="#about-me">About Me</a>
      <a class="link hover-effect d-none d-md-inline-block" href="#projects">Projects</a>
      <a class="link hover-effect d-none d-md-inline-block" href="./images/resume.pdf" target="_blank">Resume</a>
    </div>
</nav>